.searchbar-wrapper {
    margin-top: 0;
    align-items: center;
    flex-direction: row;
    overflow: visible;
    width: 100%;
    display: flex;
}

.form-wrapper {
    position: relative;
}

.form-wrapper input {
    height: 50px;
    padding: 0 40px 0 15px;
    width: 100px;
    transition: width .3s cubic-bezier(0,1,1,1),transform .3s cubic-bezier(0,1,1,1);
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-family: Franklin Gothic Condensed,sans-serif;
    border: 0;
    outline: 0;
}

.form-wrapper input:active,
.form-wrapper input:focus {
    width: 240px;
    background: #f1f3f3;
    box-shadow: -60px 0 15px -5px #fff;
    cursor: auto;
}

.form-wrapper button {
    position: absolute;
    right: 15px;
    top: 16px;
    margin-left: 8px;
    vertical-align: -2px;
    opacity: .3;
    color: #222;
    font-family: inherit;
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    text-align: center;
    cursor: pointer;
    border-radius: 0;
}

.form-wrapper button:active,
.form-wrapper button:focus {
    opacity: 1;
}

.form-wrapper SVG {
    width: 90%;
    display: inline-block!important;
    max-width: 100%;
}